.scheduleTitle {
    color: #8a153c;
    text-align: center;
    font-weight: bold;
}

.scheduleItem {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(246, 69, 26, 1) 0%, rgba(206, 41, 96, 1) 100%);
}

.scheduleTime {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(246,69,26,1) 0%, rgba(206,41,96,1) 100%);
}

.fondo{
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(246,69,26,1) 0%, rgba(206,41,96,1) 100%);
    
}


.scheduleSpeaker {
    font-size: 14px;
    margin: 0;
}

.scheduleImage {
    width: 100%;
    height: auto;
}
.tamaño {
    font-size: calc(.7rem + (30 - 10) * ((100vw - 300px) / (1600 - 300)));
    display: flex;
}