.scheduleTitle {
    color: #8a153c;
    text-align: center;
    font-weight: bold;
}

.photo{
    border-color: yellow;
}

.scheduleItem {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(246, 69, 26, 1) 0%, rgba(206, 41, 96, 1) 100%);
}

.scheduleTime {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(246,69,26,1) 0%, rgba(206,41,96,1) 100%);
}

.fondo{
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(246,69,26,1) 0%, rgba(206,41,96,1) 100%);
    
}


.scheduleSpeaker {
    font-size: 14px;
    margin: 0;
}

.scheduleImage {
    width: 100%;
    height: auto;
}


/* Estilo base para el texto de la tabla */
.scheduleDiv h3, .scheduleDiv h5 {
    font-size: 2vw; 
  }
  
  
@media (max-width: 600px) {
    .scheduleDiv h3, .scheduleDiv h5 {
        font-size: 3vw; 
        padding-left: 1px;
        /**rotate: -90deg;**/
    }
    h3,h5{
        font-size: 5vw;
        
    }
    .scheduleDiv {
        padding-top: 0.5rem;
       
    }
}
  
  @media (min-width: 600px) {
    .scheduleDiv {
      padding : 1vw;
      }
  }

  @media (min-width: 1600px) {
    .scheduleDiv h3, .scheduleDiv h5{
      font-size: 30px;
      }
      
  }