.fondo1 {
    background: url('../../sprites/posiblefondo1.svg') center/cover no-repeat;
  }

  .fondoblanco {
    background: url('../../sprites/blanco.svg') center/cover no-repeat;
    height: 50vh;

  }

  @media (max-width: 575.98px) { 
    .icon{
      margin-top: 50px;
    }
   }
   .icon{
    color: #fdb057;
   }
  
