.schedule {
    color: #8a153c;
    text-align: center;
    font-weight: bold;
}

.audiense{
    margin-top: 50px;
}

@media (max-width: 576px) { 
    .audiense{
        margin-top: 0px;
        margin-bottom: 30px;
    }
}



.icon{
    transition: transform 0.3s ease;
}

.icon:hover{
    transform: scale(1.1);
}

.omni{
    margin-top: -40px;
}